<header class="flex items-center justify-between px-6 py-4 shadow-md"
    style="background-image: url('https://storage.needpix.com/rsynced_images/combat-pattern-background.jpg'); background-size: cover; background-position: center;">
    <!-- Logo Section -->
    <div class="flex items-center space-x-8">
        <div class="flex items-center">
            <img src="/military-tank.svg" [routerLink]="['/']" alt="Military Tank Logo"
                class="w-20 hover:cursor-pointer" />
        </div>
        <input type="text" placeholder="Search Opportunities" [(ngModel)]="searchTerm" (keydown.enter)="onSearch()"
            class="w-64 px-4 py-2 border border-[#91AC8F] rounded-full focus:outline-none focus:ring-2 focus:ring-[#91AC8F] bg-white bg-opacity-75 text-black" />
    </div>

    <!-- Navigation Links -->
    <nav class="flex items-center ml-6 space-x-8 text-white">
        <a [routerLink]="['/vacancy-list']" class="hover:underline hover:text-[#91AC8F]">Jobs</a>
        <a [routerLink]="['/test-exam-list']" class="hover:underline hover:text-[#91AC8F]">Tests and Exams</a>
        <a [routerLink]="['/results-list-exam']" class="hover:underline hover:text-[#91AC8F]">Results</a>
        <a [routerLink]="['/training-program-list']" class="hover:underline hover:text-[#91AC8F]">Training</a>
        <a [routerLink]="['/notifications']" class="hover:underline hover:text-[#91AC8F]">Notifications</a>

        <!-- User Dropdown -->
        <div class="relative border-2 border-[#91AC8F] rounded-2xl py-1 px-2 cursor-pointer" #practiceDropdown
            (click)="toggleDropdown($event)">
            <div class="flex">
                <a [routerLink]="['/notifications', user.userId]" class="text-white">
                    {{user.username}}
                </a>

                <!-- Dropdown Toggle Icon -->
                <span class="ml-2 mt-2" [ngClass]="{'rotate-180 mb-2': isDropdownVisible}">
                    <svg *ngIf="isDropdownVisible" class="MuiSvgIcon-root jss17553 jss17554 w-3" focusable="false"
                        viewBox="0 0 24 24" aria-hidden="true">
                        <path d="M12,19.1L1,8.4l2.9-2.8l8.2,7.9l8.2-7.9l2.9,2.8L12,19.1z"></path>
                    </svg>
                    <svg *ngIf="!isDropdownVisible" class="MuiSvgIcon-root jss17553 w-3" focusable="false"
                        viewBox="0 0 24 24" aria-hidden="true">
                        <path d="M12,19.1L1,8.4l2.9-2.8l8.2,7.9l8.2-7.9l2.9,2.8L12,19.1z"></path>
                    </svg>
                </span>
            </div>

            <!-- Dropdown Menu -->
            <div *ngIf="isDropdownVisible"
                class="absolute right-0 mt-2 bg-[#91AC8F] border-2 border-[#66785F] rounded-lg shadow-lg w-40 text-sm z-10">
                <a [routerLink]="['/candidate-profile', user.userId]"
                    class="block px-4 py-2 text-white hover:bg-[#B2C9AD] hover:text-[#1A3636]">Profile</a>
                <a (click)="logout()" class="block px-4 py-2 text-white hover:bg-[#B2C9AD] hover:text-[#1A3636]">Log
                    Out</a>
            </div>
        </div>
    </nav>
</header>